body {
  padding-top: 50px;
  align-content: center;
}
.container-wrap {
  max-width: 650px;
  margin: 0 auto;
  padding: 25px;
}
a {
  text-decoration: none !important;
  color: rgb(83, 83, 154) !important;
}
a:hover {
  color: rgb(19, 19, 67);
  transition: ease-in-out 200ms;
}
footer {
  padding-top: 10px;
  font-size: 14px;
}
