.Weather {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  box-shadow: 1px 1px 2px 0px;
  box-shadow: rgb(83, 83, 154);
  border-radius: 7px;
  margin: 0 auto;
  padding: 25px;
  max-width: 650px;
}
.Weather h1 {
  padding: 20px 0 0 0;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.Weather .tempColumn {
  padding-left: 0;
  padding-top: 0;
}
.Weather #search {
  border: 1px solid rgb(83, 83, 154);
}
.Weather #submit {
  background: rgb(83, 83, 154);
  color: white;
}
.Weather .temperature {
  font-size: 60px;
  font-weight: 500;
}
.Weather .unit {
  font-size: 24px;
  position: relative;
  top: -25px;
  margin-left: 7px;
}
.Weather .elements {
  margin: 0 auto;
  padding-top: 18px;
  padding-left: 40px;
}
li {
  list-style: none;
}
.icon-description {
  position: relative;
  top: -10px;
}

@media (max-width: 600px) {
  .Weather h1 {
    text-align: center;
  }
  #temperatureColumn {
    display: flex;
    justify-content: center;
  }
  .Weather .icon-description {
    text-align: center;
    position: relative;
    top: -2px;
  }
  .Weather .temperature {
    position: relative;
    left: -15px;
  }

  .Weather .unit {
    position: relative;
    left: -10px;
  }
  .Weather .tempColumn {
    text-align: center;
  }
  .Weather .elements {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .Weather h1 {
    text-align: center;
  }
  .Weather .tempColumn {
    text-align: center;
  }
}
